anki==25.7.5
aqt==25.7.5
black==25.1.0
csv-diff==1.2
mypy==1.17.1
pre-commit==4.3.0
pylint==3.3.8
PyQt6==6.6.1  # used by anki, newer versions can cause crashes in prod
PyQt6-Qt6==6.6.1  # used by anki, newer versions can cause crashes in prod
PyQt6-WebEngine==6.6.0  # used by anki, newer versions can cause crashes in prod
PyQt6-WebEngine-Qt6==6.6.0  # used by anki, newer versions can cause crashes in prod
PyQt6_sip==13.6.0  # used by anki, newer versions can cause crashes in prod
pytest==8.4.1
pytest-cov==6.2.1
pytest-expect==1.1.0
pytest-qt==4.5.0
pytest-randomly==3.16.0
pytest-sugar==1.1.1
pytest-xvfb==3.1.1
six==1.17.0
